* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.container {
    width: 100%;
    background-color: #f4f4f4;
}

.logo img {
    width: 150px;
    height: auto;
    position: absolute;
    top: 10px;
    left: 10px;
}

.navbar {
    width: 100%;
    background-color: white;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    padding: 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 40px;
}

.navbar ul li a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    font-weight: bold;
    padding: 8px 12px;
    transition: 0.3s;
}

.navbar ul li a:hover {
    color: #007bff;
}

.hidden {
    display: none;
}

.botao {
    margin-top: 20px;
    background: linear-gradient(145deg, #6a11cb, #2575fc);
    color: white;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
    
}

.botao:hover {
    background: linear-gradient(145deg, #2575fc, #6a11cb);
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.3);
}

#contato{
    border-radius: 20px;
}


#h1-principal {
    margin-bottom: 40px;
    font-size: 30px;
    font-weight: bold;
    color: transparent;
    background: linear-gradient(45deg, #ff6a00, #ee0979);
    background-clip: text;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 20px 0;
}

.content {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 60px);
    padding: 20px;
    
}

.card {
    width: 38%;
    height: 80%;
    color: white;
    background-color: rgb(182, 182, 182);
    padding: 20px;
    border-radius: 10px;
    margin: 40px;
    text-align: left;
}

.p-style{
    padding: 5px;
}

.card-title{
    text-align: center;
    padding-bottom: 50px;
}

#div_direita{
    background-color: rgb(0, 127, 0, 1);
}
#div_esquerda{
    background-color: rgb(205, 0, 1);
}

#ipt_peso {
    width: 60%;
    padding: 15px 20px;
    border-radius: 30px;
    font-size: 16px;
    border: 2px solid #ccc;
    color: rgb(0, 0, 0);
    outline: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}
